{% extends 'tours/base.html' %}

{% block content %}
<style>
    .inn-detail {
    background: url({{ hotel.main_image.url }}) no-repeat;
    background-attachment: fixed;
    background-size: 40%;
}
</style>
<!--HEADER SECTION-->
	<!--TOP SECTION-->
	<div class="inn-body-section inn-detail">
		<div class="container">
			<div class="row">
				<div class="inn-bod">

                    <!-- Основное -->

					<div class="inn-detail-p1 inn-com">
						<h2>{{ hotel.name }}</h2>

						<div class="r2-ratt">
                            {% for i in rat %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                            <span>{{ hotel.rating }} / 5</span>
                        </div>

						<p>{{ main_text }}</p>
                    </div>

                    <!-- Галерея -->

                    <div class="inn-detail-p1 inn-com">
						<div class="detail-title">
							<h2>Галерея</h2>
						</div>

						<div class="room-photo-all">
                            {% for url in images_urls %}
                                <div class="col-md-6 room-photo">
                                    <div class="gall-grid room-photo-gal"> <img class="materialboxed" src="{{ url }}" alt="" /> </div>
                                </div>
                            {% endfor %}
						</div>
					</div>

                    <!-- Фичи -->

					<div class="inn-detail-p1 inn-com inn-com-list-point">
						<div class="detail-title">
							<h2>Главные удобства отеля</h2>
						</div>
						<ul style="text-align: center;">
                            {% for fech in fechs %}
							    <li><i class="fa fa-check" aria-hidden="true"></i>{{ fech }}</li>
                            {% endfor %}
						</ul>
					</div>

                    <!-- Комнаты -->

					<div class="inn-detail-p1 inn-com">
						<div class="detail-title">
							<h2>Доступные номера</h2>
						</div>
						<div class="re-room">
							<ul>
                                {% for room in rooms %}
                                    <li>
                                        <div class="re-room-list">
                                            <div class="col-md-4 re-room-list-1"><img src="{{ room.main_image.url }}" alt=""> </div>
                                            <div class="col-md-5 re-room-list-2">
                                                    <p><b>Описание: </b>{{ room.description }}</p> <span> <b>Односпальных мест</b> {{ room.solo_places }}</span> <span><b>Двуспальных мест </b>{{ room.twin_places }}</span> </div>
											<div class="col-md-3 re-room-list-3"> <span class="hot-list-p3-1">СТОИМОСТЬ:</span> <span class="hot-list-p3-2">{{ room.add_price }} р.</span></div>
                                        </div>
                                    </li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

	<!--ALL SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
	<script src="js/custom.js"></script>
</body>

</html>