{% extends 'tours/base.html' %}
{% load static %}

{% block content %}
        <div class="hom-body-section">
            <img src="{%  %}" alt="">
			<div class="container">
				<div class="row">
					<div class="home-bod">
						<div class="home-bod-1">
							<h4>Today up to <span>70%</span> offer</h4>
							<h2>Hotel Booking</h2>
							<p>a procedure intended to establish the quality, performance, or reliability of something, especially before it is taken into widespread use.</p>
							<p>a procedure intended to establish the quality, performance, or reliability of something, especially before it is taken into widespread use.</p>
						</div>
						<div class="home-bod-2">
							<ul>
								<li>
									<a href="all-hotels.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h1.png" alt=""> Hotels</a>
								</li>
								<li>
									<a href="all-rooms.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h7.png" alt=""> Booking</a>
								</li>
								<li>
									<a href="menu.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h2.png" alt=""> Menu</a>
								</li>
								<li>
									<a href="about-us.html" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="images/icon/h5.png" alt=""> About Us</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->

{% endblock %}