{% extends 'tours/base.html' %}
{% load static %}

{% block content %}
        <div class="hom-body-section">
			<div class="container">
				<div class="row">
					<div class="home-bod">
						<div class="home-bod-1">
							<h4>Today up to <span>ИДЕЯ IDEA </span> offer</h4>
							<h2>ИДЕЯ IDEA ИДЕЯ IDEA</h2>
							<p>ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA </p>
							<p>ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA ИДЕЯ IDEA </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
{% endblock %}