{% extends 'tours/base.html' %}
{% load static %}

{% block content %}
<style>
.home-bod-1 p {
    font-size: 18px;
    color: #fff;
}
.home-bod-1 h2 {
    font-weight: 600;
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
</style>
        <div class="hom-body-section">
			<div class="container">
				<div class="row">
					<div class="home-bod">
						<div class="home-bod-1">
<!--							<h4>Today up to <span>ИДЕЯ IDEA </span> offer</h4>-->
							<h2>Путешествуйте с нами</h2>
							<p>Откройте для себя лучшие путешествия с нашим туроператором! Мы предлагаем незабываемые впечатления, высокое качество обслуживания и отличные цены. </p>
							<p>Забронируйте свою поездку прямо сейчас!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
{% endblock %}