{% extends 'tours/base.html' %}
{% load static %}
{% block content %}
<style>
.log-in-pop {
    position: relative;
    overflow: hidden;
    /* height: 100%; */
    /* bottom: 0px; */
    background: #fff;
    width: 74%;
    margin: 0 auto;
}

</style>

    <!--DASHBOARD SECTION-->
    <div class="dashboard">
        <div class="db-righ">
            <h4>Мои способы оплаты</h4>
            <ul style="text-align: center;">
                {% for payment in payments %}
                    <li>{{ payment }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="db-left">
            <div class="db-left-2">
               <div class="log-in-pop">
                    <div class="log-in-pop-right">
                        <h4>Добавить способ оплаты</h4>
                        <form class="s12" method="post">
                              {% if form.non_field_errors %}
                                  <div class="alert alert-danger">{{ form.non_field_errors}}</div>
                              {% endif %}

                            {% csrf_token %}
                            {% for f in form.visible_fields %}
                                <div>
                                    <h5>{{ f.label }}</h5>
                                    <div class="input-field s12">
                                        {{ f }}
                                        {% if f.errors %}
                                            {% for error in f.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                          {% for f in form.hidden_fields %}
                              {{ f }}
                              {{ f.errors }}
                          {% endfor %}


                            <div>
                                <div class="input-field s4">
                                    <button type="submit" class="btn waves-effect waves-light">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
			    </div>
            </div>
        </div>
        <div class="db-cent">
            <div class="db-cent-3">
                <div class="db-cent-table db-com-table">
                    <div class="db-title">
                        <h3>Мои туры</h3>
                        <p>Здесь отображается информация о ваших оформленных турах</p>
                    </div>
                    <table class="bordered responsive-table">
                        <thead>
                            <tr>
                                <th>Тур</th>
                                <th>Число клиентов</th>
                                <th>Способ оплаты</th>
                                <th>Общая стоимость</th>
                                <th>Дата отправления</th>
                                <th>Дата возвращения</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in bookings %}
                            <tr>
                                <td><a href="{{book.0.get_absolute_url}}">{{ book.0|truncatechars:20 }}</a></td>
                                <td>{{ book.1 }}</td>
                                <td>{{ book.2 }}</td>
                                <td>{{ book.3 }}</td>
                                <td>{{ book.4 }}</td>
                                <td>{{ book.5 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--END DASHBOARD SECTION-->
    <!--TOP SECTION-->


{% endblock %}