{% extends 'tours/base.html' %}
{% load static %}


{% block content %}
<style>
.inn-detail {
    background: url({{ tour.main_image.url }}) no-repeat;
    background-attachment: fixed;
    background-size: 40%;
}
.col-md-3 {
    width: 25%;
}
.inn-room-book {
	margin-top: 44%;
	padding: 7px 4px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	border-radius: 18px;
	width: 86%;
	font-size: 19px;
	display: table-caption;
	background: #d0ae64;
	background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
	background: linear-gradient(to top, #caa65a, #dbbb75);
	margin-left: 36px;
	text-align: center;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: -8px;
    padding-left: 15px;
}

</style>
<!--HEADER SECTION-->
	<!--TOP SECTION-->
	<div class="inn-body-section inn-detail">
		<div class="container">
			<div class="row">
				<div class="inn-bod">

                    <!-- Основное -->

					<div class="inn-detail-p1 inn-com">
						<h2>{{ tour.name }}</h2>
                        {% if tour.need_inter_pass %}
                            <span class="label label-danger">Требуется загран. паспорт</span>
                        {% endif %}

{#						<div class="r2-ratt">#}
{#                            {% for i in rat %}#}
{#                                <i class="fa fa-star"></i>#}
{#                            {% endfor %}#}
{#                            <span>{{ hotel.rating }} / 5</span>#}
{#                        </div>#}

						<p>{{ main_text }}</p>
                    </div>

                    <!-- Галерея -->

                    <div class="inn-detail-p1 inn-com">
						<div class="detail-title">
							<h2>Галерея</h2>
						</div>

						<div class="room-photo-all">
                            {% for url in images_urls %}
                                <div class="col-md-6 room-photo">
                                    <div class="gall-grid room-photo-gal"> <img class="materialboxed" src="{{ url }}" alt="" /> </div>
                                </div>
                            {% endfor %}
						</div>
					</div>

                    <!-- Фичи -->

					<div class="inn-detail-p1 inn-com inn-com-list-point">
						<div class="detail-title">
							<h2>особенности тура</h2>
						</div>
						<ul style="text-align: center;">
                            {% for fech in fechs %}
							    <li><i class="fa fa-check" aria-hidden="true"></i>{{ fech }}</li>
                            {% endfor %}
						</ul>
					</div>

                    <!-- Отель -->

					<div class="inn-detail-p1 inn-com">
						<div class="detail-title">
							<h2>Отель</h2>
						</div>
						<div class="re-room">
							<ul>
                                <li>
                                    <div class="re-room-list">
                                        <div class="col-md-4 re-room-list-1"><img src="{{ hotel.main_image.url }}" alt=""> </div>
                                        <div class="col-md-5 re-room-list-2">
                                            <p><b>Описание: </b>{{ hotel.description|truncatewords:30 }}</p>
                                            <div class="r2-ratt"><b>Rating</b> <i class="fa fa-star"></i> {{ hotel.rating }}/5 </div>
                                        </div>
                                        <div class="col-md-3 re-room-list-2">
                                            <a href="{{ hotel.get_absolute_url }}" class="inn-room-book">Подробнее</a>
                                        </div>
                                    </div>
                                </li>
							</ul>
						</div>
					</div>

                {% if user.is_authenticated %}
                    <a class="waves-effect waves-light btn-large" href="{% url 'booking' tour_slug=tour.slug %}">
                        Оформить
                    </a>
                {% else %}
                    <a class="waves-effect waves-light btn-large" href="{% url 'login' %}">
                        Оформить
                    </a>
                {% endif %}




{#                    <!-- Отзывы ????-->#}
{##}
{#					<div class="inn-detail-p1 inn-com">#}
{#						<div class="detail-title">#}
{#							<h2>User Reviews</h2>#}
{#							<p>a procedure intended to establish the quality, performance, or reliability of something, especially before it is taken into widespread use.</p>#}
{#						</div>#}
{#						<div class="room-rat-inn room-rat-bor">#}
{#							<div class="row">#}
{#								<div class="col-md-12 room-rat-body">#}
{#									<div class="room-rat-img"> <img src="images/users/2.png" alt="">#}
{#										<p>Orange Fab &amp; Weld <span>19th January, 2017</span> </p>#}
{#									</div>#}
{#									<div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>#}
{#									<p>Michael &amp; his team have been helping us with our eqiupment finance for the past 5 years - I think that says a quite a lot.. Michael is always ready to go the extra mile, always available, always helpfull that goes the same for his team that work with him - definatley our first phone call.</p>#}
{#									<ul>#}
{#										<li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up"></i></a> </li>#}
{#										<li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down"></i></a> </li>#}
{#										<li><a href="#"><span>Report</span> <i class="fa fa-flag-o"></i></a> </li>#}
{#										<li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o"></i></a> </li>#}
{#										<li><a href="#"><span>Share Now</span>  <i class="fa fa-facebook"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-google-plus"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-twitter"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-linkedin"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-youtube"></i></a> </li>#}
{#									</ul>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="room-rat-inn room-rat-bor">#}
{#							<div class="row">#}
{#								<div class="col-md-12 room-rat-body">#}
{#									<div class="room-rat-img"> <img src="images/users/5.png" alt="">#}
{#										<p>Orange Fab &amp; Weld <span>19th January, 2017</span> </p>#}
{#									</div>#}
{#									<div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>#}
{#									<p>Michael &amp; his team have been helping us with our eqiupment finance for the past 5 years - I think that says a quite a lot.. Michael is always ready to go the extra mile, always available, always helpfull that goes the same for his team that work with him - definatley our first phone call.</p>#}
{#									<ul>#}
{#										<li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up"></i></a> </li>#}
{#										<li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down"></i></a> </li>#}
{#										<li><a href="#"><span>Report</span> <i class="fa fa-flag-o"></i></a> </li>#}
{#										<li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o"></i></a> </li>#}
{#										<li><a href="#"><span>Share Now</span>  <i class="fa fa-facebook"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-google-plus"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-twitter"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-linkedin"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-youtube"></i></a> </li>#}
{#									</ul>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="room-rat-inn room-rat-bor">#}
{#							<div class="row">#}
{#								<div class="col-md-12 room-rat-body">#}
{#									<div class="room-rat-img"> <img src="images/users/3.png" alt="">#}
{#										<p>Orange Fab &amp; Weld <span>19th January, 2017</span> </p>#}
{#									</div>#}
{#									<div class="dir-rat-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>#}
{#									<p>Michael &amp; his team have been helping us with our eqiupment finance for the past 5 years - I think that says a quite a lot.. Michael is always ready to go the extra mile, always available, always helpfull that goes the same for his team that work with him - definatley our first phone call.</p>#}
{#									<ul>#}
{#										<li><a href="#"><span>Like</span><i class="fa fa-thumbs-o-up"></i></a> </li>#}
{#										<li><a href="#"><span>Dis-Like</span><i class="fa fa-thumbs-o-down"></i></a> </li>#}
{#										<li><a href="#"><span>Report</span> <i class="fa fa-flag-o"></i></a> </li>#}
{#										<li><a href="#"><span>Comments</span> <i class="fa fa-commenting-o"></i></a> </li>#}
{#										<li><a href="#"><span>Share Now</span>  <i class="fa fa-facebook"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-google-plus"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-twitter"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-linkedin"></i></a> </li>#}
{#										<li><a href="#"><i class="fa fa-youtube"></i></a> </li>#}
{#									</ul>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#                    <!-- Поделиться ?????-->#}
{#					<div class="inn-detail-p1 inn-com room-soc-share">#}
{#						<div class="detail-title">#}
{#							<h2>Share this Room</h2>#}
{#							<p>a procedure intended to establish the quality, performance, or reliability of something, especially before it is taken into widespread use.</p>#}
{#						</div>#}
{#						<ul>#}
{#							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a> </li>#}
{#							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a> </li>#}
{#							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>#}
{#							</li>#}
{#							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>#}
{#							</li>#}
{#							<li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whats App</a>#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}



				</div>
			</div>
		</div>
	</div>

    <div id="modal1" class="modal fade" role="dialog">
			<div class="log-in-pop">
				<div class="log-in-pop-right">
					<a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'images/cancel.png' %}" alt="" />
					</a>
					<h4>Booking</h4>
					<p>Don't have an account? Create your account. It's take less then a minutes</p>
					<form class="s12" method="POST">
                        {% if form %}
                            {% csrf_token %}
                            {% for f in form %}
                                <div>
                                    <h5>{{ f.label }}</h5>
                                    <div class="input-field s12">
                                        {{ f }}
                                    </div>
                                </div>
                            {% endfor %}
                            <div>
                                <div class="input-field s4">
                                    <input type="submit" class="waves-effect waves-light log-in-btn"> </div>
                            </div>
                            <div>
                                <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                            </div>
                        {% endif %}
					</form>
				</div>
			</div>
		</div>



{% endblock content %}
</body>

</html>