{% extends 'tours/base.html'%}

{% block content %}
<h1>TOURS PAGE</h1>

<ul class="list-group">

{% for tour in tours %}

<li class="list-group-item list-group-item-action">
    <h3>{{ tour.name }}</h3>
    <h5>Категория : {{ tour.category }}</h5>
    <h4>{{ tour.description }}</h4>
    <h3>Цена : {{ tour.price }}</h3>
    <img src="{{ tour.image.url }}" width="400" height="350" alt="...">
    <a href="{{ tour.get_absolute_url }}"><button>Открыть</button></a>
</li>

{% endfor %}

</ul>

{% endblock %}